* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner, 
.middle-banner {
    display: block;
    width: 100%;
}

.top-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 66px 0 186px;
    background: #FFFFFF;
}

.top-infocard-text {
    max-width: 766px;
}

.top-infocard-subtitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
}

.top-infocard-title {
    margin-bottom: 24px;
    text-transform: uppercase;  
    text-align: center;
    font-weight: 500;
    font-size: 48px;
}

.top-infocard-description {
    text-align: justify;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 76px;
}
.bottom-cards{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-card-image{
    display: block;
    margin-bottom: 14px;
   }

.bottom-card-description{
  max-width: 368px;
  text-align: center;
  font-weight: 400;
  font-size: 16px; 
  line-height: 24px;
}

.bottom-card{
 display: flex;
 align-items: center;
 flex-direction: column;
 padding: 153px 33px 66px;
 gap: 16px;
 background: #FFFFFF;
 box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);

}

.top-infocard-image {
    display: block;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    background: #FFFFFF;
    margin-bottom: 80px;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 26px 26px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 26px;
}

.top-card-description {
    max-width: 300px;   
    font-size: 16px;
    line-height: 24px;
    text-align: center; 
}

.rectangle {
    width: 100%;
    background: #E0E0E0;
}

.middle-images-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding: 64px 94px;
    gap: 32px;
  
}

.middle-image {
    display: block;
    max-width: 556px;
    width: 100%;
    gap: 32px;
    align-items: center;
    justify-content: center;
}












@media screen and (max-width: 414px) {
    .main-banner-desktop,
    .middle-banner-desktop,
    .middle-images-wrapper {
        display: none;
    }

    .rectangle {
        width: 100%;
    }
}

@media screen and (min-width: 415px) {
    .main-banner-mobile,
    .middle-banner-mobile {
        display: none;
    }
}


@media screen and (max-width: 992px) {
    .middle-images-wrapper {
        display: none;
    }

    .top-infocard {
        flex-direction: column;
        padding: 54px 26px 80px;
    }

    .top-infocard-text {
        margin: 0 0 68px;
    }

    .top-infocard-subtitle{
        font-size: 20px;
    }
    .top-infocard-title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .top-infocard-description {
        font-size: 16px;
    }

    .top-infocard-image {
        width: 100%;
        max-width: 240px;
    }

    .top-cards {
        display: flex;
        flex-direction: column;
        padding: 0 32px;
    }

    .rectangle {
        height: 484px;
        width: 100%;
    }

    .images-mobile-upper {
        display: flex;
        gap: 14px;
        justify-content: center;
        padding: 34px 26px;
    }

    .image-mobile-upper {
        max-width: 178px;
        width: 100%;
        display: block;
        
    }

    .images-mobile-below {
        display: flex;
        justify-content: center;
    }

    .image-mobile-below {
        max-width: 368px;
        display: block;
        justify-content: center;
    }


}

@media screen and (min-width: 993px) {
    .images-mobile {
        display: none;
    }

    .rectangle {
        height: 442px;
        width: 100%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1240px) {

    .top-cards {
        display: flex;
        width: 100%;
    }

    .rectangle {
        width: 100%;
    }

    .middle-images-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        padding: 64px 94px;
        gap: 32px;
      
    }
    
    .middle-image {
        display: flex;
        max-width: 556px;
        width: 300px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
}